@font-face {
  font-family: MAKBold;
  src: url("./fonts/FontsFree-Net-MAK-bold.ttf") format("ttf"),
    url("./fonts/FontsFree-Net-MAK-bold.woff") format("woff");
}

$border-design: 1px solid black;

.App {
  font-family: "Roboto", sans-serif;

  .make-it-small {
    width: 5rem;
    height: 5rem;
  }

  .responsive {
    width: 100%;
    height: 100%;
  }

  .subheading {
    font-family: MAKBold;
    color: #d13b15;
    font-size: 1.8rem;
  }

  .heading {
    font-family: MAKBold;
    font-size: 2rem;
    text-align: center;
  }

  .unimportant-link {
    color: grey;
    font-size: 0.9rem;
  }

  .indent-left {
    width: calc(100% - 1rem);
  }

  .indent-right {
    width: calc(100% - 1rem);
    margin-left: auto;
    margin-right: 0;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 6vh);
    grid-template-areas:
      ". header-img-link header-img-link header-img-link ."
      "logo logo logo logo logo"
      "logo logo logo logo logo"
      "collection title title title title";

    .center {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-img-link {
      grid-area: header-img-link;
      border-right: $border-design;
      border-left: $border-design;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 90%;
      }
    }

    .logo {
      grid-area: logo;
      border-top: $border-design;
      border-bottom: $border-design;
      img {
        height: 80%;
        object-fit: contain;
      }
    }

    .collection {
      grid-area: collection;
      font-size: 0.7rem;
      text-decoration: none;
      color: black;
      border-right: $border-design;
      border-bottom: $border-design;
      padding: 0;
      margin: 0;
    }

    .title {
      grid-area: title;
      font-family: MAKBold;
      font-size: 1.5rem;
      border-bottom: $border-design;
      padding: 0;
      margin: 0;
    }

    .flex-container {
      display: none;
    }
  }

  .intro {
    text-align: justify;
    margin-top: 1rem;
    display: grid;
    gap: 1rem;

    .quote {
      margin: 0 1rem;
    }

    .biography {
      display: grid;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      padding: 0 1rem 1rem;
    }
  }

  .news {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;

    .responsive {
      display: none;
    }

    .side-writing {
      grid-area: 1 / 2 / 6 / 3;
      border-bottom: solid 1px black;
      background-image: url("./images/news.png");
      background-repeat: repeat-y;
      background-size: contain;
    }
  }

  .paintings {
    .heading {
      border-bottom: solid 1px black;
      margin: 0;
      padding: 1rem 0;
    }

    ul {
      display: grid;
      margin: 0;
      padding: 0;
    }
  }

  .museum {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "title title title title title"
      "image1 image1 image1 image1 image1"
      "paragraph paragraph paragraph paragraph paragraph"
      ". button button button ."
      "image2 image2 image2 image2 image2"
      "imageContainer imageContainer imageContainer imageContainer imageContainer"
      "paragraph2 paragraph2 paragraph2 paragraph2 paragraph2";
    border-bottom: solid 1px black;

    .subheading {
      grid-area: title;
      border-bottom: solid 1px black;
      padding: 1rem;
      margin: 0;
    }

    img.indent-left {
      grid-area: image1;
    }

    .paragraph {
      grid-area: paragraph;
      padding: 1rem;
      margin: 0;
    }

    button {
      grid-area: button;
      padding: 1rem;
      width: 50%;
      background-color: transparent;
      border: solid 1px black;
      justify-self: center;
      margin-bottom: 1rem;
    }

    img.indent-right {
      grid-area: image2;
      padding-left: 1rem;
    }

    .image-container {
      grid-area: imageContainer;
      height: 8rem;
      display: flex;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }

    img.small-image {
      object-fit: contain;
      align-self: center;
    }

    .border-left {
      border-left: solid 1px black;
    }

    .paragraph2 {
      grid-area: paragraph2;
      padding: 1rem;
    }
  }

  .exhibit {
    .heading {
      font-size: 1.9rem;
      border-bottom: solid 1px black;
      margin: 0;
      padding: 1rem 0;
    }

    .swipe-container {
      overflow-x: scroll;
      display: flex;
      width: 100vw;
      .see-more {
        flex: 0 0 20vw;
        margin: 0;
        width: 80vw;
        border-right: solid 1px black;
        border-bottom: solid 1px black;
        scroll-snap-align: start;
        scroll-snap-type: x mandatory;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  footer nav {
    display: grid;
  }
}
