@font-face {
  font-family: MAKBold;
  src: url("./fonts/FontsFree-Net-MAK-bold.ttf") format("ttf"), url("./fonts/FontsFree-Net-MAK-bold.woff") format("woff");
}

.App {
  font-family: "Roboto", sans-serif;
}

.App .arrow {
  width: 1rem;
  height: 1rem;
}

.App .responsive {
  width: 100%;
  height: 100%;
}

.App .subheading {
  font-family: MAKBold;
  color: #d13b15;
  font-size: 1.8rem;
}

.App .heading {
  font-family: MAKBold;
  font-size: 2rem;
  text-align: center;
}

.App .unimportant-link {
  color: grey;
  font-size: 0.9rem;
}

.App .indent-left {
  width: calc(100% - 1rem);
}

.App .indent-right {
  width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: 0;
}

.App .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (6vh)[4];
      grid-template-rows: repeat(4, 6vh);
      grid-template-areas: ". header-img-link header-img-link header-img-link ." "logo logo logo logo logo" "logo logo logo logo logo" "collection title title title title";
}

.App .header .center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .header .header-img-link {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header-img-link;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.App .header .header-img-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 90%;
     object-position: center 90%;
}

.App .header .logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: logo;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.App .header .logo img {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.App .header .collection {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: collection;
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
}

.App .header .collection .arrow {
  padding-left: 0.2rem;
  width: 0.6rem;
  height: 0.7rem;
}

.App .header .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: title;
  font-family: MAKBold;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
}

.App .header .flex-container {
  display: none;
}

.App .header .flex-container.tickets {
  grid-area: tickets;
}

.App .header .flex-container.menu {
  grid-area: menu;
}

.App .intro {
  text-align: justify;
  margin-top: 1rem;
}

.App .intro .images {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.App .intro .quote {
  margin: 0 1rem;
}

.App .intro .biography {
  display: -ms-grid;
  display: grid;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 0 1rem 1rem;
}

.App .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  width: 100vw;
}

.App .news .responsive {
  display: none;
  -ms-grid-column-align: center;
      justify-self: center;
}

.App .news .side-writing {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 6 / 3;
  border-bottom: solid 1px black;
  background-image: url("./images/news.png");
  background-repeat: repeat-y;
  background-size: contain;
}

.App .paintings .heading {
  border-bottom: solid 1px black;
  margin: 0;
  padding: 1rem 0;
}

.App .paintings ul {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.App .museum {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "title title title title title" "image1 image1 image1 image1 image1" "paragraph paragraph paragraph paragraph paragraph" ". button button button ." "image2 image2 image2 image2 image2" "imageContainer imageContainer imageContainer imageContainer imageContainer" "paragraph2 paragraph2 paragraph2 paragraph2 paragraph2";
  border-bottom: 1px solid black;
}

.App .museum .subheading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: title;
  border-bottom: 1px solid black;
  padding: 1rem;
  margin: 0;
}

.App .museum img.indent-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: image1;
}

.App .museum .paragraph {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: paragraph;
  padding: 1rem;
  margin: 0;
}

.App .museum button {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: button;
  padding: 1rem;
  width: 50%;
  background-color: transparent;
  border: solid 1px black;
  justify-self: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .museum button .arrow {
  width: 0.7rem;
}

.App .museum img.indent-right {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: image2;
  padding-left: 1rem;
}

.App .museum .image-container {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: imageContainer;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.App .museum .image-container .image-sizer {
  border-right: solid 1px black;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .museum .image-container .image-sizer img {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80%;
}

.App .museum .border-left {
  border-left: solid 1px black;
}

.App .museum .paragraph2 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: paragraph2;
  padding: 1rem;
}

.App .exhibit .heading {
  font-size: 1.9rem;
  border-bottom: solid 1px black;
  margin: 0;
  padding: 1rem 0;
}

.App .exhibit .swipe-container {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.App .exhibit .swipe-container .see-more {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vw;
          flex: 0 0 20vw;
  margin: 0;
  width: 80vw;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  scroll-snap-align: start;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .exhibit .swipe-container .see-more .arrow-container {
  width: 1.5rem;
}

.App footer nav {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  .App .header {
    -ms-grid-rows: (6vh)[3];
        grid-template-rows: repeat(3, 6vh);
        grid-template-areas: "logo tickets header-img-link header-img-link menu" "logo title title title title" "collection title title title title";
  }
  .App .header .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: logo;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
  }
  .App .header .logo img {
    width: 80%;
  }
  .App .header .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: title;
  }
  .App .header .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.3rem;
    border-bottom: 1px solid black;
  }
  .App .header .flex-container.tickets {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: tickets;
  }
  .App .header .flex-container.menu {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: menu;
  }
  .App .header .flex-container a {
    color: black;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.8rem;
  }
  .App .header .header-img-link {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: header-img-link;
    border-bottom: 1px solid black;
  }
  .App .header .collection {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: collection;
    font-size: 0.8rem;
  }
  .App .header .collection .arrow {
    padding-left: 0.3rem;
    height: 0.8rem;
  }
  .App .header .title {
    font-size: 2.5rem;
  }
  .App .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "images images images biography biography";
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0;
  }
  .App .intro .images {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: images;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 3rem 1fr;
        grid-template-rows: 1fr 3rem 1fr;
    padding: 0.5rem;
    gap: 0;
  }
  .App .intro .images img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .App .intro .images img:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  .App .intro .images .quote {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  .App .intro .biography {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: biography;
    border: none;
    border-left: 1px solid black;
  }
  .App .intro .biography .subheading {
    text-align: left;
  }
  .App .news {
    -ms-grid-columns: 20vw (1fr)[3] 10vw;
        grid-template-columns: 20vw repeat(3, 1fr) 10vw;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    border-bottom: 1px solid black;
  }
  .App .news .responsive {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 1 / 2 / 6 / 5;
    width: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .App .news .side-writing {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1 / 5 / 6 / 6;
    border: none;
  }
  .App .museum {
    -ms-grid-rows: 4rem 1fr 1fr 4rem 1fr 1fr 8rem;
        grid-template-rows: 4rem 1fr 1fr 4rem 1fr 1fr 8rem;
        grid-template-areas: "title title title title title" "image1 image1 paragraph . ." "image1 image1 paragraph . ." "image1 image1 button image2 image2" ". . . image2 image2" ". . . image2 image2" "imageContainer imageContainer paragraph2 paragraph2 paragraph2";
  }
  .App .museum .subheading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: title;
    padding: 1.5rem 1rem 2rem 1rem;
  }
  .App .museum img.indent-left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: image1;
    width: 100%;
  }
  .App .museum .paragraph {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: paragraph;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .App .museum button {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: button;
    width: 100%;
    height: 100%;
    margin: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App .museum button .arrow {
    padding-left: 0.2rem;
  }
  .App .museum img.indent-right {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: image2;
    width: 100%;
    padding: 0;
  }
  .App .museum .image-container {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: imageContainer;
    border-bottom: none;
  }
  .App .museum .paragraph2 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: paragraph2;
    margin: 0;
    border-top: 1px solid black;
  }
}

@media (min-width: 1425px) {
  .App .header {
    -ms-grid-rows: (8vh)[3];
        grid-template-rows: repeat(3, 8vh);
  }
  .App .header .flex-container {
    padding: 0 0.5rem;
  }
  .App .header .flex-container a {
    font-size: 1rem;
  }
  .App .header .collection {
    font-size: 1rem;
  }
  .App .header .collection .arrow {
    height: 1rem;
  }
  .App .header .title {
    font-size: 4rem;
  }
  .App .biography .subheading {
    font-size: 2rem;
  }
  .App .museum .paragraph {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .App .exhibit {
    width: unset;
  }
  .App .exhibit .heading {
    font-size: 3rem;
    padding: 2rem 0;
  }
  .App .exhibit .swipe-container {
    width: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    overflow-x: visible;
  }
  .App .exhibit .swipe-container > * {
    scroll-snap-align: none;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .App .exhibit .swipe-container .see-more {
    width: 100%;
    height: 100%;
    border-right: none;
  }
  .App .exhibit .swipe-container .see-more .arrow-container {
    width: 1.5rem;
  }
  .App .news {
    width: unset;
  }
  .App .paintings {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 8rem 80vh;
        grid-template-rows: 8rem 80vh;
    -ms-grid-columns: (minmax(1fr, 20vw))[9];
        grid-template-columns: repeat(9, minmax(1fr, 20vw));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .paintings .heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: 1 / 1 / 2 / 10;
    font-size: 3rem;
    padding: 2rem 0;
    border: none;
  }
  .App footer nav {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */