.ArticleSection {
  display: grid;
  grid-template-rows: 3rem, 1fr;
  grid-template-columns: 1fr, 4fr;
  grid-template-areas: "side subheading" "side paragraph";
  gap: 1rem;
  border-bottom: solid 1px black;
  width: 100%;

  .side-writing {
    grid-area: side;
    background-repeat: repeat-y;
    background-size: contain;
    width: 13vw;
  }

  .subheading {
    grid-area: subheading;
    margin: 0;

    .black {
      color: black;
    }
  }

  .paragraph {
    grid-area: paragraph;
    text-align: justify;
    padding-right: 1rem;
    .inline {
      display: inline;
    }
  }
}
