.MuseumCard {
  margin: 0;
  width: 80vw;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  img {
    object-fit: cover;
    height: 30rem;
    width: 100%;
  }

  figcaption {
    padding: 1rem;
  }

  p {
    text-align: center;
    margin: 0;
  }
}
