.NavMenu {
  text-align: center;
  border-bottom: solid 1px black;
  padding: 1rem 0;

  .title {
    margin: 0;
    width: 100%;
    color: black;
    font-size: 1rem;
    list-style-type: none;

    &.hide {
      color: grey;
    }
    &.show {
      padding-bottom: 1rem;
    }
  }

  li {
    list-style-type: none;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .NavMenu {
    .title {
      font-size: 1.3rem;
    }
    li {
      font-size: 1rem;
    }
  }
}
