.NavMenu {
  text-align: center;
  border-bottom: solid 1px black;
  padding: 1rem 0;

  .title {
    margin: 0;
    width: 100%;
    color: black;
    font-size: 1rem;
    list-style-type: none;

    &.hide {
      color: grey;
    }
    &.show {
      padding-bottom: 1rem;
    }
  }

  li {
    list-style-type: none;
    font-size: 0.8rem;
    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .NavMenu {
    .title {
      font-size: 1.3rem;
    }
    li {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1425px) {
  .NavMenu {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3rem 18rem;
    border-bottom: none;
    padding: 0;

    .title-container {
      height: 100%;
      border-right: black 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      &.no-border {
        border-right: none;
      }
    }

    .title {
      font-weight: normal;
      font-size: 0.8rem;
      margin: 0;
      align-self: center;
      box-sizing: border-box;

      &.hide {
        color: black;
        padding: 0;
      }
      &.show {
        color: black;
        padding: 0;
      }
    }
    .contents {
      border-top: black 1px solid;
      border-right: black 1px solid;
      height: 100%;
      padding-top: 1rem;

      li {
        font-size: 0.8rem;
        line-height: 1.5rem;
        &.hide {
          display: block;
        }
      }
      &.no-border {
        border-right: none;
      }
    }
  }
}
