$border-design: 1px solid black;

.PaintingDisplay {
  list-style-type: none;
  border-bottom: solid 1px black;
  text-align: center;
  background-color: transparent;

  .catergory-title {
    color: grey;
    padding: 1rem;
    list-style-type: none;
  }

  &[open] {
    .catergory-title {
      color: black;
      font-weight: bold;
    }
    figure {
      display: grid;
      grid-template-columns: 1fr 5rem;
      grid-template-rows: 2rem 1fr;
      grid-template-areas: "caption next" "painting painting";
      width: 100%;
      margin: 0;

      .caption {
        grid-area: caption;
        display: block;
        text-align: left;
        font-size: 0.8rem;
        padding: 0 1rem;
        align-self: end;
      }

      .next {
        grid-area: next;
        background-color: transparent;
        border: $border-design;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        width: 5rem;

        p {
          margin: 0;
        }

        .arrow {
          width: 0.8rem;
        }
      }

      .painting {
        grid-area: painting;
      }
    }
  }
}

@media (min-width: 1425px) {
  .PaintingDisplay {
    border: $border-design;
    border-left: none;
    width: 100%;
    height: 100%;

    &.no-border {
      border-right: none;
    }

    .catergory-title {
      writing-mode: sideways-lr;
      border: none;
      height: 100%;

      @supports not (writing-mode: sideways-lr) {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }
    }

    &[open] {
      .catergory-title {
        writing-mode: horizontal-tb;
        height: 1rem;
      }

      figure {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2rem;
        grid-template-areas: "painting painting" "caption next";
        width: 80%;
        margin: 0 auto;
        height: 70vh;

        .caption {
          grid-area: caption;
          display: block;
          text-align: left;
          font-size: 0.8rem;
          padding: 0 1rem;
          align-self: end;
        }

        .next {
          grid-area: next;
          background-color: transparent;
          border: $border-design;
          font-size: 0.8rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem;
          width: 5rem;

          p {
            margin: 0;
          }

          .arrow {
            width: 0.8rem;
          }
        }

        .painting {
          grid-area: painting;
          object-fit: contain;
        }
      }
    }
  }
}
